:root{
    --mdm-primary-color: #49beb7;
    --mdm-secondary-color: #62a9d2;
    --mdm-highlight-color: #baeeeb;
    --mdm-dark-color: #212121;
    --mdm-light-color: #ebf5fd;
    --mdm-background-color: #551d82fd;
    --mdm-title-color: var(--mdm-dark-color);
    --mdm-nav-toggler-glow: #e2c855af;
    --mdm-nav-toggler-color: var(--mdm-highlight-color);
    --mdm-offset-color: #7b75cd;

    --mdm-font-size: 1.2rem;
    --mdm-font-weight: 400;
    --mdm-line-height: 1.5rem;

    --mdm-title-font: font-family: 'Bebas Neue', sans-serif;
    --mdm-subtitle-font: font-family: 'Roboto', sans-serif;
    --mdm-body-font: font-family: 'Bebas Neue', sans-serif;
    
}

.html,body{
    height:100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--mdm-background-color);
    font-size:var(--mdm-font-size);
    font-weight: var(--mdm-font-weight);
    line-height:var(--mdm-line-height);
    font-family:var(--mdm-body-font);
    color:var(--mdm-dark-color);
}

/* Sticky Footer and page layout*/

header{
    margin-top: 74px;
    font-family: var(--mdm-subtitle-font);
}

main{
    flex: 1 0 auto;
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1{
    font-family: var(--mdm-subtitle-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--mdm-dark-color);
}

footer{
    flex-shrink: 0;
}

/* Navbar Overrides */
#mainNav{
    background: var(--mdm-dark-color);

}

#mainNav-button{
    border-color:var(--mdm-primary-color);
}

#navbar-toggler{
    color:var(--mdm-nav-toggler-glow) !important;
}

.navbar-toggler-icon-cf{
    color:var(--mdm-nav-toggler-color);
    font-size: 1.5rem;
    display: inline-block;
    vertical-align:middle;
}
/* Navbar overrides end */

/* Main Header Styles */
.mainHeader{
    background-image: url(/img/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: right top;
    background-color:var(--mdm-dark-color);
    color: var(--mdm-light-color);
    vertical-align: text-top;
    text-align: left;
}

/* .mainHeader-cover{
    background-image:url(/img/cityBG_2560.png);
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    height: 100%;
    background-position: top left;
    overflow: hidden;
}

.mainHeader-cover>.mainHeader-content{
    backdrop-filter: blur(3px) heu-rotate(120deg) brightness(50%) contrast(15%0) saturate(150%);
    -webkit-backdrop-filter: blur(3px) heu-rotate(120deg) brightness(50%) contrast(150%) saturate(150%);
} */

.devicons{
    font-size: 4rem;
}

@supports not(backdrop-filter:blur(3px)){
    .maainHeader-cover>.mainHeader-content{
        background-color: rgb(0,37,46,0.6);
    }

}

/* Mainheader Wrapper */
.mainHeader-wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Main Title Styles */
.mainTitle{
    font-size: 2rem;
    line-height: 1.5rem;
    font-family:var(--mdm-title-font);
}

.mainLogo{
    height: .6em;
}

.subTitle{
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: .09rem;
    color: var(--mdm-light-color);
    font-family:var(--mdm-subtitle-font);
}

.profilePic{
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--mdm-dark-color);
    box-shadow: 0px 7px 10px rgba(0,0,0, .5);
}

.mail-link{
    color: inherit;
    text-decoration: none;
}

/* ---------Footer Styles------ */
.footer-bg-cta{
    background: linear-gradient(to bottom, var(--mdm-background-color), var(--mdm-background-color) 50%, var(--mdm-background-color) 50%, var(--mdm-background-color) 100%);
}

.footer-cta{
    border-radius: 10px;
    background-color: var(--mdm-secondary-color);
    width:75%;
}

.footer-main{
    background-color: var(--mdm-dark-color);
    color:var(--mdm-light-color);
}

.socialicons{
    font-size: 2rem;
}

a.socialicons{
    color: var(--mdm-offset-color);
    opacity:1;
}

a.socialicons:hover{
    color: var(--mdm-highlight-color);
}

/* Secction Styles */

.section-page{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left:1rem;
    padding-right:1rem;
}

.section-page:nth-child(even){
    background-color: var(--mdm-offset-color);
}

.section-page:nth-child(odd){
    background-color: var(--mdm-secondary-color);
}

.section-page:nth-last-child(2){
    background-color: var(--mdm-secondary-color);
}

.section-page:last-child{
    background-color: var(--mdm-offset-color);
} 

.section-cta{
    background-color: var(--mdm-dark-color);
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:1rem;
    padding-right:1rem;
    color:var(--mdm-light-color);
    text-align:center;
}

.cta-arrow{
    color: var(--mdm-highlight-color);
    font-size: 2.5rem;
}

.link-style{
    text-decoration: none;
}

/* Media Queries */
@media (min-width: 575.98px){
    .mainHeader{
        background-image: url(/img/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
        height: 300px;
    }
}

@media (min-width: 767.98px){
    .mainHeader{
        background-image: url(/img/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
        height: 300px;
    }
    .mainTitle{
        font-size:4.5rem;
        line-height:3.5rem;
    }
    .subTitle{
        font-size:1.2rem;
        line-height:1.5rem;
        font-weight:300;
        letter-spacing: .1rem;
    }
}

@media (min-width: 991.98px){
    .mainHeader{
        background-image: url(/img/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
        height: 400px;
    }
}

@media (min-width: 1199.98px){
    .mainHeader{
        background-image: url(/img/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
        height:  500px;
    }
    .mainTitle{
        font-size: 5rem;
        font-weight: 5rem;   
    }
    .subTitle{
        font-size: 1.7rem;
        line-height: 1rem;
        font-weight:300;
        letter-spacing: .1rem;
    }
}
